<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <title>Show Details</title>
    <link rel="stylesheet" href="./css/style.css" />
    <style>
        body {
            background-image: url("{{ bgimage }}");
        }
    </style>
</head>

<body>
    <div class="background"></div>
    <div class="container">
        <div class="header">展览详情</div>

        <!-- Banner 图 -->
        <div class="banner">
            <img src="{{ show.banner_url }}" alt="Banner" style="width: 450px; height: 253px;" />
        </div>

        <!-- 单个展览内容 -->
        <div class="detail_content">
            <div class="details">
                <div class="title">{{ show.name }}</div>
                <div class="venue_name">地点：{{ show.venue_name }} {{ show.venue_detail }}</div>
                <div class="start-time">开始时间：{{ show.start_time }}</div>
                <div class="end-time">结束时间：{{ show.end_time }}</div>
                <div class="organizer">主办方：{{ show.organizer }}</div>
                {% if show.guests %}
                <div class="guests">嘉宾：{{ show.guests }}</div>
                {% endif %}
                <div class="status">
                    {% macro icon(name) %}
                        <img src="./svg/{{ name }}.svg" class="vector_icon" width="8px" height="8px">
                    {% endmacro %}
                    {% if show.is_refund == 0 %}
                        {{ icon('no') }} 不可退 
                    {% else %}
                        {{ icon('yes') }} 支持退 
                    {% endif %}
                    {% if show.id_bind >= 1 %}
                        {{ icon('yes') }} 实名制 
                    {% endif %}
                    {% if show.has_eticket %}
                        {{ icon('yes') }} 电子票/兑换票  
                    {% endif %}
                </div>
                <div class="placeholder"></div>
            </div>
        </div>

        <!-- 按 screen_name 分组的票务信息 -->
        {% for screen_name, tickets in show.ticket_info | groupby('screen_name') %}
        <div class="screen_name_group">
            <h3>{{ screen_name }}</h3>
            <div class="details">
                {% for ticket in tickets %}
                <div class="ticket_box">
                    {{ ticket.description }} {{ ticket.sale_start }} -- {{ ticket.sale_end }} ￥{{ ticket.price / 100 }} ({{ ticket.status }})
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        <!-- 页脚 -->
        <div class="footer">
            <div class="designer">Designed by Asankilp?</div>
            <div class="project_name">nonebot-plugin-acgnshow</div>
            <div class="notice_text">本页信息仅供参考，具体内容请访问哔哩哔哩会员购，并自行检索实际信息</div>
        </div>
    </div>
</body>

</html>
